$primary-color: #444;
$white-color: #fff;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url("/dist/img/background.jpg");
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 300ms ease;
}

@mixin background {
  @if $show-home-image {
    &#bg__img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($primary-color, $background-opacity);
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}
