@import "config";
@import "menu";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
}

// Headings
h1,
h2,
h3 {
  font-weight: 400;

  &.home__lg__heading {
    font-size: 6rem;
  }
  &.home__sm__heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.home__text__secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .home__icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

.about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.7rem;
    border-bottom: 5px solid $secondary-color;

    &-1 {
      grid-area: job1;
    }
    &-2 {
      grid-area: job2;
    }
    &-3 {
      grid-area: job3;
    }
  }

  .bio .text-secondary {
    color: $secondary-color;
  }
}

// Work/Projects

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  img {
    width: 100%;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid #333;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
%btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn {
  &-light {
    @extend %btn;
    background: lighten($primary-color, 50);
    color: #333;
  }

  &-dark {
    @extend %btn;
    background: darken($primary-color, 50);
    color: #fff;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
